# compiled python modules
*.pyc
*.pyo

# pycache
__pycache__/

# setuptools distribution folder
/dist/

# python egg metadata
/*.egg-info

# build
build/

# rest
.ipynb_checkpoints

# editor
.vscode/
